/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 1,125rem;
    line-height: 160%;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/


/* ===== Numéro 3f ===== */

header {
   padding: 20px 0;
}

/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font: 700 2.5rem "Nunito", sans-serif;
    text-decoration: none;
    color: #444;
}

/* ===== Numéro 3c ===== */

.menu ul {
    margin: 0;

    padding: 0;

    list-style: none;

    display: flex;
    gap: 30px;
}


/* ===== Numéro 3d ===== */

.menu a {
    color: black;
    font: bold 0,875 'PT Sans', sans-serif;
    padding: 5px 10px;
    border: 2px solid transparent;


    /*pas de raccourcies*/
    text-transform: uppercase;
    text-decoration: none;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid black;
}


/* ===== Numéro 4a ===== */

.hero {
    background: url(../images/hero.jpg) no-repeat center right/cover;
}


/* ===== Numéro 4b ===== */
.hero .wrapper {
    display: flex;
    height: 650px;
    flex-direction: column;
    justify-content: center;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
    max-width: 50%;
    color: white;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    max-width: 50%;
    font: 100 100px/100% "Nunito", sans-serif;
    margin: 0 0 20px 0;
    color: #F2545B;
}


/* ===== Numéro 5c ===== */

.athletes {
    padding: 6.25rem 0;
}


/* ===== Numéro 5a ===== */

.athletes h2 {
    font: bold 3.125rem "Nunito", sans-serif;

    margin: 0 0 3.125rem 0;

    letter-spacing: 0.05em;
}


/* ===== Numéro 5b ===== */

.athletes p {
    margin: 0 0 3.125rem 0;
}



/* ===== Numéro 5d ===== */
.athletes-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
    max-width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
    grid-column: span 2;
    grid-row: span 2;
}


/* ===== Numéro 6a ===== */
footer {
    background-color: black;
}

footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.875rem 0;
}

/* ===== Numéro 6b ===== */

.menu-social {
    margin: 0;

    padding: 0;

    list-style: none;

    display: flex;

    gap: 0.625rem;
}



/* ===== Numéro 6c ===== */

.menu-social a {
    display: flex;
}

/* ===== Numéro 6d ===== */

.menu-social a:hover {
    background: gray;
}
